<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta content="金蜂软件是一站式软件开发服务商，明星产品CRM+公海智能空号过滤，提供软件产品私人定制服务,期权交易系统,服务范围APP、高端响应式网站、后台管理系统、微信小程序和公众号开发，大数据分析，智能硬件。服务热线：13422340632。" name="description">
<meta content="金蜂软件,期权交易系统,CRM,呼叫中心,空号过滤,定制开发,软件开发,客户关系管理,资源管理,智能,APP,小程序,公众号,网站" name="keywords">
<title>金蜂软件 | 定制软件开发服务商 | 期权交易系统 | CRM、公海资源管理平台、直播间、APP定制、微信开发等服务</title>
<!--<script> var _hmt = _hmt || []; (function() { var hm = document.createElement("script"); hm.src = "https://hm.baidu.com/hm.js?b83a885d5c96df4550ec775000b3d9db"; var s = document.getElementsByTagName("script")[0]; s.parentNode.insertBefore(hm, s); })(); </script>-->
<!-- 占位符引用-->
<!--
    @require "style/less/common/global.less"
    @require "style/less/common/font-size.less"
    @require "style/fcs_icon/iconfont.css"
-->
    <link rel="stylesheet" type="text/css" href="../../pkg/web_app_2d0df7e_e9e238e.css" />
