<div class="footer">
  <div class="inner">
    <ul class="content">
      <li>
        <img src="../../style/images/logo_9444d01.png" alt="方程式教育">
        <dl>
          <dt>江西省南昌市南昌县莲塘校区</dt>
          <dd>400-878-0791</dd>
        </dl>

        </p>
      </li>
      <li>
        <h3>常见问题</h3>
        <ol>
          <li><a href="javascript:;">学生就业问题</a></li>
          <li><a href="javascript:;">学时学费问题</a></li>
          <li><a href="javascript:;">课程方向问题</a></li>
          <li><a href="javascript:;">咨询乘车路线</a></li>
          <li><a href="javascript:;">其它相关问题</a></li>
        </ol>
      </li>
      <li class="address">
        <h3>学校地址</h3>
        <p>江西校区【重点】</p>
        <p>地址：南昌市青山湖区上海路173号 <br> (航空大学工程训练中心3楼)</p>
        <p>电话：400-878-0791 18503036677（在线老师）</p>
      </li>
      <li class="contact">
        <h3>联系我们</h3>
        <dl class="fl">
          <dt><img src="../../style/images/index/qrcode_aa99e12.png" alt="方程式教育"></dt>
          <dd>微信</dd>
        </dl>
        <dl class="fl">
          <dt><a title="添加客服QQ" href="http://wpa.qq.com/msgrd?v=3&uin=812354038&site=qq&menu=yes" target="_blank"><i class="fcs_icon-QQ"></i></a></dt>
          <dd>QQ</dd>
        </dl>


      </li>
    </ul>
  </div>
  <h4>
    <p>Copyright 南昌德弘信息技术有限公司 1999-2019 Edu Inc.　赣ICP备16002418号-1 办学许可证号（3601004000192）</p>
    <p>©2019方程式教育版权所有 未经授权禁止复制</p>
  </h4>
</div>

<script>
  require('components/footer/footer')
</script>
